.theme-font[data-v-22e5604d],
body[data-v-22e5604d],
.uni-app[data-v-22e5604d] {
  font-family: MiSans;
}
@keyframes fadeInDown-22e5604d {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-22e5604d {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-22e5604d] {
  width: 100%;
  height: auto;
  background: #26386c;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
.eeg_view[data-v-22e5604d] {
  width: 100%;
  height: 8.6875rem;
}
.title_view[data-v-22e5604d] {
  position: absolute;
  z-index: 1;
  margin-top: 0.8125rem;
  width: 3.5625rem;
  height: 1.90625rem;
  background: rgba(29, 33, 41, 0.6);
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_view uni-text[data-v-22e5604d] {
  font-family: Inter, Inter;
  font-weight: 400;
  font-size: 0.875rem;
  color: #a7c1fa;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
