.theme-font[data-v-a577e9b3],
body[data-v-a577e9b3],
.uni-app[data-v-a577e9b3] {
  font-family: MiSans;
}
@keyframes fadeInDown-a577e9b3 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-a577e9b3 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-a577e9b3] {
  width: 100%;
  height: auto;
}
.sleep_context_view[data-v-a577e9b3] {
  width: 100%;
  height: 1.25rem;
}
.sleep_view[data-v-a577e9b3] {
  width: 20.71875rem;
  height: 1.25rem;
}
.sleep_title_view[data-v-a577e9b3] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.0625rem;
  z-index: 1;
  margin-left: 0.625rem;
}
.sleep_title_view .flip_over_view[data-v-a577e9b3] {
  margin-left: 0.625rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.34375rem;
  line-height: 0.375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  color: #2c53f1;
}
.sleep_title_view .title_view[data-v-a577e9b3] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.34375rem;
  color: #1d2129;
  line-height: 0.59375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_title_view .sleep_tip_view[data-v-a577e9b3] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3125rem;
}
.sleep_title_view .sleep_tip_view .n3_view[data-v-a577e9b3] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.78125rem;
}
.sleep_title_view .sleep_tip_view .n3_view uni-view[data-v-a577e9b3] {
  width: 0.15625rem;
  height: 0.15625rem;
  background: #0038ba;
  border-radius: 50%;
  margin-right: 0.0625rem;
}
.sleep_title_view .sleep_tip_view .n3_view uni-text[data-v-a577e9b3] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #1d2129;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_title_view .sleep_tip_view .n3_view .comment_long_view[data-v-a577e9b3] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #3b76f2;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
}
.sleep_title_view .sleep_tip_view .n3_view .time_view[data-v-a577e9b3] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #4e5969;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
}
