.theme-font[data-v-71e8bb68],
body[data-v-71e8bb68],
.uni-app[data-v-71e8bb68] {
  font-family: MiSans;
}
@keyframes fadeInDown-71e8bb68 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-71e8bb68 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-71e8bb68] {
  width: 100%;
  height: auto;
}
.snore_content_view[data-v-71e8bb68] {
  width: 100%;
  height: 1.5rem;
}
.title_view[data-v-71e8bb68] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.0625rem;
  z-index: 1;
  margin-left: 0.625rem;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.34375rem;
  color: #1d2129;
  line-height: 0.59375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
