.theme-font[data-v-eaca2c50],
body[data-v-eaca2c50],
.uni-app[data-v-eaca2c50] {
  font-family: MiSans;
}
@keyframes fadeInDown-eaca2c50 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-eaca2c50 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-eaca2c50] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.1875rem;
}
.deep_long_view[data-v-eaca2c50] {
  width: 21.46875rem;
  height: 12rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.deep_long_top_view[data-v-eaca2c50] {
  width: 19.75rem;
  height: 1.90625rem;
  position: absolute;
  top: 0.9375rem;
  z-index: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.deep_long_top_view .eeg_alarm_left_view[data-v-eaca2c50] {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.deep_long_top_view .eeg_alarm_left_view .clock_title_view[data-v-eaca2c50] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_left_view uni-text[data-v-eaca2c50] {
  margin-top: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_right_view[data-v-eaca2c50] {
  text-align: right;
}
.deep_long_top_view .eeg_alarm_right_view .tip_top_view uni-text[data-v-eaca2c50] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  line-height: 0.96875rem;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.deep_long_top_view .eeg_alarm_right_view .evaluate_view[data-v-eaca2c50] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_right_view .long_image_view[data-v-eaca2c50] {
  width: 1.8125rem;
  height: 1.8125rem;
  position: absolute;
  top: 0.3125rem;
  right: 4.90625rem;
  z-index: -1;
}
.deep_long_data_view[data-v-eaca2c50] {
  width: 19.48406rem;
  height: 7.28125rem;
  position: absolute;
  bottom: 0.9375rem;
  z-index: 0;
  background: linear-gradient(to right, #fff 50%, #f6f6f6 0);
  background-size: 5.59375rem 100%;
  border-radius: 0.84375rem;
}
.deep_long_data_view .clock_data_context_view[data-v-eaca2c50] {
  width: 19.48406rem;
  height: 7.28125rem;
}
.wake_up_view[data-v-eaca2c50] {
  position: absolute;
  top: 3.875rem;
  left: 1.71875rem;
  z-index: 2;
}
.wake_up_view uni-text[data-v-eaca2c50] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
