.theme-font[data-v-b6ad2c9e],
body[data-v-b6ad2c9e],
.uni-app[data-v-b6ad2c9e] {
  font-family: MiSans;
}
@keyframes fadeInDown-b6ad2c9e {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-b6ad2c9e {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-b6ad2c9e] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.evaluate_bg_view[data-v-b6ad2c9e] {
  width: 21.53125rem;
  height: 14.625rem;
  background: #fff;
  border-radius: 0.84375rem;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.title_view[data-v-b6ad2c9e] {
  position: absolute;
  top: 1.1875rem;
  left: 0.9375rem;
  z-index: 99;
}
.title_view uni-text[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: justified;
  font-style: normal;
  text-transform: none;
}
.evaluate_left_view[data-v-b6ad2c9e] {
  width: 5.625rem;
  height: auto;
  margin-left: 1.40625rem;
  margin-top: 2.90625rem;
}
.evaluate_left_view .circular_view[data-v-b6ad2c9e] {
  width: 5.625rem;
  height: 5.625rem;
}
.evaluate_left_view .score_view[data-v-b6ad2c9e] {
  width: 1.92406rem;
  height: 2.14281rem;
  background: url(../../../../../static/ico_shuimian.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 4.625rem;
  left: 3.34375rem;
  z-index: 99;
  display: flex;
  align-items: end;
  justify-content: center;
}
.evaluate_left_view .score_view .score_text[data-v-b6ad2c9e] {
  color: var(--color-text-1, #1d2129);
  text-align: center;
  font-family: MiSans;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 520;
}
.evaluate_left_view .score_view .unit_view[data-v-b6ad2c9e] {
  color: var(--color-text-2, #4e5969);
  text-align: center;
  font-family: MiSans;
  font-size: 0.59375rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin-bottom: 0.3125rem;
}
.evaluate_left_view .star_view[data-v-b6ad2c9e] {
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluate_left_view .sleep_time_view[data-v-b6ad2c9e] {
  width: 5.625rem;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 0.5rem;
}
.evaluate_left_view .sleep_time_view .sleep_time_hour_view[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
  margin-right: 0.0625rem;
}
.evaluate_left_view .sleep_time_view .sleep_time_tip_view[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
  margin-bottom: 0.15625rem;
  margin-left: 0.0625rem;
  margin-right: 0.0625rem;
}
.evaluate_left_view .quality_view[data-v-b6ad2c9e] {
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluate_left_view .quality_view uni-text[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #4e5969;
  line-height: 0.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.evaluate_right_view[data-v-b6ad2c9e] {
  width: 11.01469rem;
  height: 8.02719rem;
  margin-top: 3.59375rem;
  margin-right: 1.46875rem;
}
.evaluate_right_view .data_item_view[data-v-b6ad2c9e] {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.evaluate_right_view .data_item_view .data_item_top_view[data-v-b6ad2c9e] {
  width: 11.5625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.evaluate_right_view .data_item_view .data_item_top_view uni-text[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #1d2129;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.evaluate_right_view .data_item_view .data_item_top_view .time_view[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.46875rem;
}
.evaluate_right_view .data_item_view .data_item_top_view .comment_view[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.evaluate_right_view .data_item_view .data_item_top_view .comment_h_view[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #3b76f2;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.evaluate_right_view .data_item_view .refer_to_view[data-v-b6ad2c9e] {
  margin-top: 0.0625rem;
  margin-bottom: 1.125rem;
  width: 11.5625rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.evaluate_right_view .data_item_view .refer_to_view uni-text[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.more_data_view[data-v-b6ad2c9e] {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.15625rem;
  padding-bottom: 1.15625rem;
}
.more_data_view uni-text[data-v-b6ad2c9e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: justified;
  font-style: normal;
  text-transform: none;
}
.more_data_view uni-image[data-v-b6ad2c9e] {
  margin-left: 0.46875rem;
  width: 0.3125rem;
  height: 0.5625rem;
}
