.theme-font[data-v-ccdde816],
body[data-v-ccdde816],
.uni-app[data-v-ccdde816] {
  font-family: MiSans;
}
@keyframes fadeInDown-ccdde816 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-ccdde816 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-ccdde816] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.15625rem;
}
.clock_icon_bg_view[data-v-ccdde816] {
  width: 21.53125rem;
  height: 5.1875rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
}
.clock_icon_bg_view .clock_icon_view[data-v-ccdde816] {
  width: auto;
  height: auto;
  background: url(../../../../../static/img_naodiannaozhong.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
}
.clock_icon_bg_view .clock_left_view[data-v-ccdde816] {
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: center;
}
.clock_icon_bg_view .clock_left_view uni-text[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.clock_icon_bg_view .clock_left_view .title_view[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #4e5969;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.clock_icon_bg_view .clock_left_view .context_view[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.clock_icon_bg_view .clock_right_view[data-v-ccdde816] {
  text-align: right;
}
.clock_icon_bg_view .clock_right_view .clock_right_bg_view[data-v-ccdde816] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock_icon_bg_view .clock_right_view .clock_right_icon_view[data-v-ccdde816] {
  background: linear-gradient(270deg, #6597ec, #88b4fe);
  border-radius: 0.125rem;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #fff;
  line-height: 0.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
  padding: 0.125rem 0.25rem;
  margin-right: 0.25rem;
}
.clock_icon_bg_view .clock_right_view .clock_right_data_view[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 1.6875rem;
  text-align: right;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.clock_icon_bg_view .clock_right_view .clock_right_tip_view[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: right;
  font-style: normal;
  text-transform: none;
}
