.theme-font[data-v-00bdfb7d],
body[data-v-00bdfb7d],
.uni-app[data-v-00bdfb7d] {
  font-family: MiSans;
}
@keyframes fadeInDown-00bdfb7d {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-00bdfb7d {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-00bdfb7d] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.15625rem;
}
.alarm_clock_view[data-v-00bdfb7d] {
  width: 21.46875rem;
  height: 10.78125rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alarm_clock_view .alarm_bg_view[data-v-00bdfb7d] {
  width: 19.75rem;
  height: 3.28125rem;
  background: url(../../../../../static/img_naodiannaozhong.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.9375rem;
  z-index: 0;
}
.alarm_clock_view .clock_data_view[data-v-00bdfb7d] {
  width: 19.48406rem;
  height: 6.5rem;
  position: absolute;
  bottom: 0.9375rem;
  z-index: 1;
  background: linear-gradient(to right, #fff 50%, #f6f6f6 0);
  background-size: 3.25rem 100%;
  border-radius: 0.84375rem;
}
.alarm_clock_view .clock_data_view .clock_data_context_view[data-v-00bdfb7d] {
  width: 19.48406rem;
  height: 6.5rem;
}
.alarm_clock_view .eeg_alarm_clock_view[data-v-00bdfb7d] {
  width: 19.75rem;
  height: 1.90625rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: absolute;
  top: 0.9375rem;
  z-index: 1;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view[data-v-00bdfb7d] {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view .clock_title_view[data-v-00bdfb7d] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view uni-text[data-v-00bdfb7d] {
  margin-top: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view[data-v-00bdfb7d] {
  text-align: right;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view .tip_top_view[data-v-00bdfb7d] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alarm_clock_view
  .eeg_alarm_clock_view
  .eeg_alarm_right_view
  .tip_top_view
  uni-text[data-v-00bdfb7d] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  line-height: 0.96875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view .evaluate_view[data-v-00bdfb7d] {
  width: 100%;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .wake_up_view[data-v-00bdfb7d] {
  position: absolute;
  top: 3.59375rem;
  left: 1.71875rem;
  z-index: 2;
}
.alarm_clock_view .wake_up_view uni-text[data-v-00bdfb7d] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
