.theme-font[data-v-8b3f6775],
body[data-v-8b3f6775],
.uni-app[data-v-8b3f6775] {
  font-family: MiSans;
}
@keyframes fadeInDown-8b3f6775 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-8b3f6775 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.uni-grid-wrap[data-v-8b3f6775] {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.uni-grid[data-v-8b3f6775] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.uni-grid--border[data-v-8b3f6775] {
  position: relative;
  z-index: 1;
  border-left: 1px #d2d2d2 solid;
}
.theme-font[data-v-9309e632],
body[data-v-9309e632],
.uni-app[data-v-9309e632] {
  font-family: MiSans;
}
@keyframes fadeInDown-9309e632 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-9309e632 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.uni-grid-item[data-v-9309e632] {
  height: 100%;
  display: flex;
}
.uni-grid-item__box[data-v-9309e632] {
  display: flex;
  width: 100%;
  position: relative;
  flex: 1;
  flex-direction: column;
}
.uni-grid-item--border[data-v-9309e632] {
  position: relative;
  z-index: 0;
  border-bottom: 1px #d2d2d2 solid;
  border-right: 1px #d2d2d2 solid;
}
.uni-grid-item--border-top[data-v-9309e632] {
  position: relative;
  border-top: 1px #d2d2d2 solid;
  z-index: 0;
}
.uni-highlight[data-v-9309e632]:active {
  background-color: #f1f1f1;
}
.theme-font[data-v-d706f712],
body[data-v-d706f712],
.uni-app[data-v-d706f712] {
  font-family: MiSans;
}
@keyframes fadeInDown-d706f712 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-d706f712 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-d706f712] {
  width: 100%;
  height: auto;
  background: #fff;
}
.top_day_view[data-v-d706f712] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.sleep_long_view[data-v-d706f712] {
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
.sleep_long_view uni-text[data-v-d706f712] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 1.1875rem;
  color: #1d2129;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_long_view .hour_view[data-v-d706f712],
.sleep_long_view .minute_view[data-v-d706f712] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 2.15625rem;
  color: #1d2129;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.tip_view[data-v-d706f712] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
  margin-top: 0.125rem;
}
.sleep_context_view[data-v-d706f712] {
  width: 100%;
  height: 12.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sleep_context_view .sleep_view[data-v-d706f712] {
  width: 18.25rem;
  height: 10.96875rem;
}
.type_tip_view[data-v-d706f712] {
  width: 100%;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type_tip_view uni-text[data-v-d706f712] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.type_tip_view .n3_view[data-v-d706f712] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3125rem;
}
.type_tip_view .n3_view uni-view[data-v-d706f712] {
  width: 0.34375rem;
  height: 0.34375rem;
  background: #0723c3;
  border-radius: 0.25rem;
  margin-right: 0.1875rem;
}
.type_tip_view .n2_view[data-v-d706f712] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3125rem;
}
.type_tip_view .n2_view uni-view[data-v-d706f712] {
  width: 0.34375rem;
  height: 0.34375rem;
  background: #374df2;
  border-radius: 0.25rem;
  margin-right: 0.1875rem;
}
.type_tip_view .n1_view[data-v-d706f712] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3125rem;
}
.type_tip_view .n1_view uni-view[data-v-d706f712] {
  width: 0.34375rem;
  height: 0.34375rem;
  background: #7967f3;
  border-radius: 0.25rem;
  margin-right: 0.1875rem;
}
.type_tip_view .eye_view[data-v-d706f712] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3125rem;
}
.type_tip_view .eye_view uni-view[data-v-d706f712] {
  width: 0.34375rem;
  height: 0.34375rem;
  background: #cf94f8;
  border-radius: 0.25rem;
  margin-right: 0.1875rem;
}
.type_tip_view .up_view[data-v-d706f712] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3125rem;
}
.type_tip_view .up_view uni-view[data-v-d706f712] {
  width: 0.34375rem;
  height: 0.34375rem;
  background: #ffae23;
  border-radius: 0.25rem;
  margin-right: 0.1875rem;
}
.type_tip_view .min_view[data-v-d706f712] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3125rem;
}
.type_tip_view .min_view uni-view[data-v-d706f712] {
  width: 0.34375rem;
  height: 0.34375rem;
  background: #00b4f0;
  border-radius: 0.25rem;
  margin-right: 0.1875rem;
}
.theme-font[data-v-1f036889],
body[data-v-1f036889],
.uni-app[data-v-1f036889] {
  font-family: MiSans;
}
@keyframes fadeInDown-1f036889 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-1f036889 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-1f036889] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.evaluate_bg_view[data-v-1f036889] {
  width: 21.53125rem;
  height: 19.40625rem;
  background: #fff;
  border-radius: 0.84375rem;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.title_view[data-v-1f036889] {
  width: 19.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 1.1875rem;
  left: 0.9375rem;
  z-index: 3;
}
.title_view uni-text[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: justified;
  font-style: normal;
  text-transform: none;
}
.title_view .wear_view[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.96875rem;
  color: #4e5969;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.nighttime_average_view[data-v-1f036889] {
  width: 19.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 3.375rem;
  left: 0.9375rem;
  z-index: 3;
}
.nighttime_average_view uni-text[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.84375rem;
  color: #1d2129;
  line-height: 1.3125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.nighttime_average_view .time_view[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.84375rem;
  color: #4e5969;
  line-height: 1.3125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.refer_top_view[data-v-1f036889] {
  width: 19.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 4.8125rem;
  left: 0.9375rem;
  z-index: 3;
}
.refer_top_view uni-text[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #86909c;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.line_view[data-v-1f036889] {
  position: absolute;
  top: 6.71875rem;
  left: 0.9375rem;
  z-index: 3;
  width: 19.625rem;
  height: 0.03125rem;
  background: #d9d9d9;
}
.evaluate_left_view[data-v-1f036889] {
  width: 5.625rem;
  height: auto;
  margin-top: 7.34375rem;
  margin-left: 1.40625rem;
}
.evaluate_left_view .circular_view[data-v-1f036889] {
  width: 5.625rem;
  height: 5.625rem;
}
.evaluate_left_view .score_view[data-v-1f036889] {
  width: 1.92406rem;
  height: 2.14281rem;
  background: url(../../../../static/ico_shuimian.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 9.0625rem;
  left: 3.34375rem;
  z-index: 99;
  display: flex;
  align-items: end;
  justify-content: center;
}
.evaluate_left_view .score_view .score_text[data-v-1f036889] {
  color: var(--color-text-1, #1d2129);
  text-align: center;
  font-family: MiSans;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 520;
}
.evaluate_left_view .score_view .unit_view[data-v-1f036889] {
  color: var(--color-text-2, #4e5969);
  text-align: center;
  font-family: MiSans;
  font-size: 0.59375rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin-bottom: 0.3125rem;
}
.evaluate_left_view .star_view[data-v-1f036889] {
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluate_left_view .sleep_time_view[data-v-1f036889] {
  width: 5.625rem;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 0.5rem;
}
.evaluate_left_view .sleep_time_view .sleep_time_hour_view[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
  margin-right: 0.0625rem;
}
.evaluate_left_view .sleep_time_view .sleep_time_tip_view[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
  margin-bottom: 0.15625rem;
  margin-left: 0.0625rem;
  margin-right: 0.0625rem;
}
.evaluate_left_view .quality_view[data-v-1f036889] {
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluate_left_view .quality_view uni-text[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #4e5969;
  line-height: 0.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.evaluate_right_view[data-v-1f036889] {
  width: 11.01469rem;
  height: 8.02719rem;
  margin-top: 8.125rem;
  margin-right: 1.46875rem;
}
.evaluate_right_view .data_item_view[data-v-1f036889] {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.evaluate_right_view .data_item_view .data_item_top_view[data-v-1f036889] {
  width: 11.5625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.evaluate_right_view .data_item_view .data_item_top_view uni-text[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #1d2129;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.evaluate_right_view .data_item_view .data_item_top_view .time_view[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.46875rem;
}
.evaluate_right_view .data_item_view .data_item_top_view .comment_view[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.evaluate_right_view .data_item_view .data_item_top_view .comment_h_view[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #3b76f2;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.evaluate_right_view .data_item_view .refer_to_view[data-v-1f036889] {
  margin-top: 0.0625rem;
  margin-bottom: 1.125rem;
  width: 11.5625rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.evaluate_right_view .data_item_view .refer_to_view uni-text[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.more_data_view[data-v-1f036889] {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.15625rem;
  padding-bottom: 1.15625rem;
}
.more_data_view uni-text[data-v-1f036889] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: justified;
  font-style: normal;
  text-transform: none;
}
.more_data_view uni-image[data-v-1f036889] {
  margin-left: 0.46875rem;
  width: 0.3125rem;
  height: 0.5625rem;
}
.theme-font[data-v-ccdde816],
body[data-v-ccdde816],
.uni-app[data-v-ccdde816] {
  font-family: MiSans;
}
@keyframes fadeInDown-ccdde816 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-ccdde816 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-ccdde816] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.15625rem;
}
.clock_icon_bg_view[data-v-ccdde816] {
  width: 21.53125rem;
  height: 5.1875rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
}
.clock_icon_bg_view .clock_icon_view[data-v-ccdde816] {
  width: auto;
  height: auto;
  background: url(../../../../static/img_naodiannaozhong.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
}
.clock_icon_bg_view .clock_left_view[data-v-ccdde816] {
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: center;
}
.clock_icon_bg_view .clock_left_view uni-text[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.clock_icon_bg_view .clock_left_view .title_view[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #4e5969;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.clock_icon_bg_view .clock_left_view .context_view[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.clock_icon_bg_view .clock_right_view[data-v-ccdde816] {
  text-align: right;
}
.clock_icon_bg_view .clock_right_view .clock_right_bg_view[data-v-ccdde816] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock_icon_bg_view .clock_right_view .clock_right_icon_view[data-v-ccdde816] {
  background: linear-gradient(270deg, #6597ec, #88b4fe);
  border-radius: 0.125rem;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #fff;
  line-height: 0.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
  padding: 0.125rem 0.25rem;
  margin-right: 0.25rem;
}
.clock_icon_bg_view .clock_right_view .clock_right_data_view[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 1.6875rem;
  text-align: right;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.clock_icon_bg_view .clock_right_view .clock_right_tip_view[data-v-ccdde816] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: right;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-961ce9f5],
body[data-v-961ce9f5],
.uni-app[data-v-961ce9f5] {
  font-family: MiSans;
}
@keyframes fadeInDown-961ce9f5 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-961ce9f5 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-961ce9f5] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.1875rem;
}
.deep_long_view[data-v-961ce9f5] {
  width: 21.46875rem;
  height: 12.9375rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.deep_long_top_view[data-v-961ce9f5] {
  width: 19.75rem;
  height: 3.28125rem;
  position: absolute;
  top: 0.9375rem;
  z-index: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.deep_long_top_view .eeg_alarm_left_view[data-v-961ce9f5] {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.deep_long_top_view .eeg_alarm_left_view .clock_title_view[data-v-961ce9f5] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_left_view uni-text[data-v-961ce9f5] {
  margin-top: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_right_view[data-v-961ce9f5] {
  text-align: right;
}
.deep_long_top_view .eeg_alarm_right_view .tip_top_view uni-text[data-v-961ce9f5] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  line-height: 0.96875rem;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.deep_long_top_view .eeg_alarm_right_view .evaluate_view[data-v-961ce9f5] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_right_view .long_image_view[data-v-961ce9f5] {
  width: 1.8125rem;
  height: 1.8125rem;
  position: absolute;
  top: 0.3125rem;
  right: 4.90625rem;
  z-index: -1;
}
.deep_long_data_view[data-v-961ce9f5] {
  width: 19.48406rem;
  height: 7.28125rem;
  position: absolute;
  bottom: 0.9375rem;
  z-index: 0;
  background: linear-gradient(to right, #fff 50%, #f6f6f6 0);
  background-size: 3.25rem 100%;
  border-radius: 0.84375rem;
}
.deep_long_data_view .clock_data_context_view[data-v-961ce9f5] {
  width: 19.48406rem;
  height: 7.28125rem;
}
.wake_up_view[data-v-961ce9f5] {
  position: absolute;
  top: 4.84375rem;
  left: 1.71875rem;
  z-index: 2;
}
.wake_up_view uni-text[data-v-961ce9f5] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-dc665d64],
body[data-v-dc665d64],
.uni-app[data-v-dc665d64] {
  font-family: MiSans;
}
@keyframes fadeInDown-dc665d64 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-dc665d64 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-dc665d64] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.1875rem;
}
.deep_long_view[data-v-dc665d64] {
  width: 21.46875rem;
  height: 12rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.deep_long_top_view[data-v-dc665d64] {
  width: 19.75rem;
  height: 1.90625rem;
  position: absolute;
  top: 0.9375rem;
  z-index: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.deep_long_top_view .eeg_alarm_left_view[data-v-dc665d64] {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.deep_long_top_view .eeg_alarm_left_view .clock_title_view[data-v-dc665d64] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_left_view uni-text[data-v-dc665d64] {
  margin-top: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_right_view[data-v-dc665d64] {
  text-align: right;
}
.deep_long_top_view .eeg_alarm_right_view .tip_top_view uni-text[data-v-dc665d64] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  line-height: 0.96875rem;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.deep_long_top_view .eeg_alarm_right_view .evaluate_view[data-v-dc665d64] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  font-style: normal;
  text-transform: none;
}
.deep_long_top_view .eeg_alarm_right_view .long_image_view[data-v-dc665d64] {
  width: 1.8125rem;
  height: 1.8125rem;
  position: absolute;
  top: 0.3125rem;
  right: 4.90625rem;
  z-index: -1;
}
.deep_long_data_view[data-v-dc665d64] {
  width: 19.48406rem;
  height: 7.28125rem;
  position: absolute;
  bottom: 0.9375rem;
  z-index: 0;
  background: linear-gradient(to right, #fff 50%, #f6f6f6 0);
  background-size: 3.25rem 100%;
  border-radius: 0.84375rem;
}
.deep_long_data_view .clock_data_context_view[data-v-dc665d64] {
  width: 19.48406rem;
  height: 7.28125rem;
}
.wake_up_view[data-v-dc665d64] {
  position: absolute;
  top: 3.875rem;
  left: 1.71875rem;
  z-index: 2;
}
.wake_up_view uni-text[data-v-dc665d64] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-6a185275],
body[data-v-6a185275],
.uni-app[data-v-6a185275] {
  font-family: MiSans;
}
@keyframes fadeInDown-6a185275 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-6a185275 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-6a185275] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.15625rem;
}
.alarm_clock_view[data-v-6a185275] {
  width: 21.46875rem;
  height: 10.78125rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alarm_clock_view .alarm_bg_view[data-v-6a185275] {
  width: 19.75rem;
  height: 3.28125rem;
  background: url(../../../../static/img_naodiannaozhong.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.9375rem;
  z-index: 0;
}
.alarm_clock_view .clock_data_view[data-v-6a185275] {
  width: 19.48406rem;
  height: 6.5rem;
  position: absolute;
  bottom: 0.9375rem;
  z-index: 1;
  background: linear-gradient(to right, #fff 50%, #f6f6f6 0);
  background-size: 3.25rem 100%;
  border-radius: 0.84375rem;
}
.alarm_clock_view .clock_data_view .clock_data_context_view[data-v-6a185275] {
  width: 19.48406rem;
  height: 6.5rem;
}
.alarm_clock_view .eeg_alarm_clock_view[data-v-6a185275] {
  width: 19.75rem;
  height: 1.90625rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: absolute;
  top: 0.9375rem;
  z-index: 1;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view[data-v-6a185275] {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view .clock_title_view[data-v-6a185275] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view uni-text[data-v-6a185275] {
  margin-top: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view[data-v-6a185275] {
  text-align: right;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view .tip_top_view[data-v-6a185275] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alarm_clock_view
  .eeg_alarm_clock_view
  .eeg_alarm_right_view
  .tip_top_view
  uni-text[data-v-6a185275] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  line-height: 0.96875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view .evaluate_view[data-v-6a185275] {
  width: 100%;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .wake_up_view[data-v-6a185275] {
  position: absolute;
  top: 3.59375rem;
  left: 1.71875rem;
  z-index: 2;
}
.alarm_clock_view .wake_up_view uni-text[data-v-6a185275] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-00bdfb7d],
body[data-v-00bdfb7d],
.uni-app[data-v-00bdfb7d] {
  font-family: MiSans;
}
@keyframes fadeInDown-00bdfb7d {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-00bdfb7d {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-00bdfb7d] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.15625rem;
}
.alarm_clock_view[data-v-00bdfb7d] {
  width: 21.46875rem;
  height: 10.78125rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alarm_clock_view .alarm_bg_view[data-v-00bdfb7d] {
  width: 19.75rem;
  height: 3.28125rem;
  background: url(../../../../static/img_naodiannaozhong.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.9375rem;
  z-index: 0;
}
.alarm_clock_view .clock_data_view[data-v-00bdfb7d] {
  width: 19.48406rem;
  height: 6.5rem;
  position: absolute;
  bottom: 0.9375rem;
  z-index: 1;
  background: linear-gradient(to right, #fff 50%, #f6f6f6 0);
  background-size: 3.25rem 100%;
  border-radius: 0.84375rem;
}
.alarm_clock_view .clock_data_view .clock_data_context_view[data-v-00bdfb7d] {
  width: 19.48406rem;
  height: 6.5rem;
}
.alarm_clock_view .eeg_alarm_clock_view[data-v-00bdfb7d] {
  width: 19.75rem;
  height: 1.90625rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: absolute;
  top: 0.9375rem;
  z-index: 1;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view[data-v-00bdfb7d] {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view .clock_title_view[data-v-00bdfb7d] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view uni-text[data-v-00bdfb7d] {
  margin-top: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view[data-v-00bdfb7d] {
  text-align: right;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view .tip_top_view[data-v-00bdfb7d] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alarm_clock_view
  .eeg_alarm_clock_view
  .eeg_alarm_right_view
  .tip_top_view
  uni-text[data-v-00bdfb7d] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  line-height: 0.96875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view .evaluate_view[data-v-00bdfb7d] {
  width: 100%;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .wake_up_view[data-v-00bdfb7d] {
  position: absolute;
  top: 3.59375rem;
  left: 1.71875rem;
  z-index: 2;
}
.alarm_clock_view .wake_up_view uni-text[data-v-00bdfb7d] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-ed07897e],
body[data-v-ed07897e],
.uni-app[data-v-ed07897e] {
  font-family: MiSans;
}
@keyframes fadeInDown-ed07897e {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-ed07897e {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-ed07897e] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.15625rem;
}
.sleep_position_view[data-v-ed07897e] {
  width: 21.53125rem;
  height: 11.4375rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.84375rem;
}
.sleep_position_view .sleep_tip_view[data-v-ed07897e] {
  margin-top: 0.9375rem;
  margin-left: 0.9375rem;
  margin-bottom: 0.59375rem;
}
.sleep_position_view .sleep_tip_view uni-text[data-v-ed07897e] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_position_view .position_item_view[data-v-ed07897e] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sleep_position_view .item_view[data-v-ed07897e] {
  width: 8.3125rem;
  height: 2.03125rem;
  background: #fff;
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.15);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.59375rem;
  margin: 0.25rem 0.3125rem;
}
.sleep_position_view .item_view .image1[data-v-ed07897e] {
  width: 2.15625rem;
  height: 1.40625rem;
}
.sleep_position_view .item_view .image2[data-v-ed07897e] {
  width: 2.15625rem;
  height: 2.125rem;
}
.sleep_position_view .item_view uni-text[data-v-ed07897e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #4e5969;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_position_view .item_view .list_text_viwe[data-v-ed07897e] {
  margin-bottom: 0.3125rem;
}
.sleep_position_view .item_view .scale_view[data-v-ed07897e] {
  margin-left: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_position_view .item_1_view[data-v-ed07897e] {
  width: 8.3125rem;
  height: 2.6875rem;
  background: #fff;
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.15);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.59375rem;
  margin: 0.25rem 0.3125rem;
}
.sleep_position_view .item_1_view .image1[data-v-ed07897e] {
  width: 2.15625rem;
  height: 1.40625rem;
}
.sleep_position_view .item_1_view .image2[data-v-ed07897e] {
  width: 2.15625rem;
  height: 2.125rem;
}
.sleep_position_view .item_1_view uni-text[data-v-ed07897e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #4e5969;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_position_view .item_1_view .list_text_viwe[data-v-ed07897e] {
  margin-bottom: 0.3125rem;
}
.sleep_position_view .item_1_view .scale_view[data-v-ed07897e] {
  margin-left: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_position_view .item_2_view[data-v-ed07897e] {
  width: 8.3125rem;
  height: 2.03125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c4d6fb;
  border-radius: 0.25rem;
  padding: 0 0.59375rem;
  margin: 0.25rem 0.3125rem;
}
.sleep_position_view .item_2_view .image1[data-v-ed07897e] {
  width: 2.15625rem;
  height: 1.40625rem;
}
.sleep_position_view .item_2_view .image2[data-v-ed07897e] {
  width: 2.15625rem;
  height: 2.125rem;
}
.sleep_position_view .item_2_view .list_text_viwe[data-v-ed07897e] {
  margin-bottom: 0.3125rem;
}
.sleep_position_view .item_2_view uni-text[data-v-ed07897e] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #4e5969;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_position_view .item_2_view .scale_view[data-v-ed07897e] {
  margin-left: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_position_view .item_3_view[data-v-ed07897e] {
  width: 8.3125rem;
  height: 2.6875rem;
  background: #fff;
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.15);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.59375rem;
  margin: 0.25rem 0.3125rem;
  position: relative;
}
.sleep_position_view .item_3_view .bg_view[data-v-ed07897e] {
  width: 3.21875rem;
  height: 2.125rem;
  position: absolute;
  top: 0.375rem;
  right: 0.40625rem;
  z-index: 0;
  background: url(../../../../static/img_shuimianqianfuqi.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sleep_position_view .item_3_view .num_view[data-v-ed07897e] {
  position: absolute;
  top: 0.8125rem;
  right: 0.59375rem;
  z-index: 1;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  color: #3b76f2;
  line-height: 0.96875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_position_view .item_3_view .tip_view[data-v-ed07897e] {
  position: absolute;
  top: 0.8125rem;
  left: 0.59375rem;
  z-index: 1;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  color: #4e5969;
  line-height: 0.96875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-08d7a1fd],
body[data-v-08d7a1fd],
.uni-app[data-v-08d7a1fd] {
  font-family: MiSans;
}
@keyframes fadeInDown-08d7a1fd {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-08d7a1fd {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-08d7a1fd] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.15625rem;
}
.alarm_clock_view[data-v-08d7a1fd] {
  width: 21.46875rem;
  height: 10.78125rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.59375rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alarm_clock_view .alarm_bg_view[data-v-08d7a1fd] {
  width: 19.75rem;
  height: 3.28125rem;
  background: url(../../../../static/img_naodiannaozhong.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.9375rem;
  z-index: 0;
}
.alarm_clock_view .clock_data_view[data-v-08d7a1fd] {
  width: 19.48406rem;
  height: 6.5rem;
  position: absolute;
  bottom: 0.9375rem;
  z-index: 1;
  background: linear-gradient(to right, #fff 50%, #f6f6f6 0);
  background-size: 3.25rem 100%;
  border-radius: 0.84375rem;
}
.alarm_clock_view .clock_data_view .clock_data_context_view[data-v-08d7a1fd] {
  width: 19.48406rem;
  height: 6.5rem;
}
.alarm_clock_view .eeg_alarm_clock_view[data-v-08d7a1fd] {
  width: 19.75rem;
  height: 1.90625rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: absolute;
  top: 0.9375rem;
  z-index: 1;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view[data-v-08d7a1fd] {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view .clock_title_view[data-v-08d7a1fd] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_left_view uni-text[data-v-08d7a1fd] {
  margin-top: 0.25rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.59375rem;
  color: #86909c;
  line-height: 0.6875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view[data-v-08d7a1fd] {
  text-align: right;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view .tip_top_view[data-v-08d7a1fd] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alarm_clock_view
  .eeg_alarm_clock_view
  .eeg_alarm_right_view
  .tip_top_view
  uni-text[data-v-08d7a1fd] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.84375rem;
  line-height: 0.96875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  color: #466df9;
}
.alarm_clock_view .eeg_alarm_clock_view .eeg_alarm_right_view .evaluate_view[data-v-08d7a1fd] {
  width: 100%;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.59375rem;
  color: #3b76f2;
  line-height: 0.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.alarm_clock_view .wake_up_view[data-v-08d7a1fd] {
  position: absolute;
  top: 3.59375rem;
  left: 1.71875rem;
  z-index: 2;
}
.alarm_clock_view .wake_up_view uni-text[data-v-08d7a1fd] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-a4e12ee7],
body[data-v-a4e12ee7],
.uni-app[data-v-a4e12ee7] {
  font-family: MiSans;
}
@keyframes fadeInDown-a4e12ee7 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-a4e12ee7 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-a4e12ee7] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.1875rem;
}
.las_view[data-v-a4e12ee7] {
  width: 21.53125rem;
  height: 7.875rem;
  margin-bottom: 8.40625rem;
  background: linear-gradient(98deg, #fff, #e2ebff);
  box-shadow: 0 0 1.4375rem rgba(177, 177, 177, 0.18);
  border-radius: 0.84375rem;
  position: relative;
}
.las_view .las_bg_view[data-v-a4e12ee7] {
  position: absolute;
  top: 1.375rem;
  right: 1.125rem;
  z-index: 0;
  width: 2.8125rem;
  height: 2.5625rem;
  background: url(../../../../static/img_jieduyujianyi.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.las_view .las_context_view[data-v-a4e12ee7] {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 19.625rem;
  height: 5.96875rem;
  margin: 0.9375rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.las_view .las_context_view uni-text[data-v-a4e12ee7] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.96875rem;
  color: #1d2129;
  line-height: 1.125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.las_view .las_context_view .context_view[data-v-a4e12ee7] {
  min-height: 4.25rem;
  margin-top: 0.5rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 1.0625rem;
  text-align: justified;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-dcb6af6f],
body[data-v-dcb6af6f],
.uni-app[data-v-dcb6af6f] {
  font-family: MiSans;
}
@keyframes fadeInDown-dcb6af6f {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-dcb6af6f {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-dcb6af6f] {
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
}
.data_top_view[data-v-dcb6af6f] {
  width: 100%;
  height: 8.15625rem;
  background-color: #fff;
}
.data_top_view .data_top_item_view[data-v-dcb6af6f] {
  padding-top: 5.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data_top_view .data_top_item_view uni-image[data-v-dcb6af6f] {
  padding: 0 0.15625rem;
  width: 0.4175rem;
  height: 0.77531rem;
}
.data_top_view .data_select_view[data-v-dcb6af6f] {
  width: 13.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.9375rem;
}
.data_top_view .data_select_view uni-text[data-v-dcb6af6f] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.96875rem;
  color: #4e5969;
  font-style: normal;
  text-transform: none;
}
.time_view[data-v-dcb6af6f] {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: #f3f3f3;
  border-radius: 1.78125rem 1.78125rem 0 0;
}
.time_view .top_tiem_icon[data-v-dcb6af6f] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.time_view .top_tiem_icon uni-image[data-v-dcb6af6f] {
  width: 1.90844rem;
  height: 0.4175rem;
  margin-top: 0.71875rem;
}
.time_view .title_time_view[data-v-dcb6af6f] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.96875rem;
}
.time_view .title_time_view uni-text[data-v-dcb6af6f] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 1.1875rem;
  color: #1d2129;
  line-height: 1.40625rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.time_view .title_time_view uni-image[data-v-dcb6af6f] {
  width: 1.2525rem;
  height: 1.2525rem;
  margin-left: 13.59375rem;
}
.time_view .week_day_view[data-v-dcb6af6f] {
  margin-top: 0.9375rem;
  margin-bottom: 0.71875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time_view .week_day_view uni-text[data-v-dcb6af6f] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.71875rem;
  color: #4e5969;
  line-height: 0.84375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin: 0 1.1875rem;
}
.time_view .time_context_view[data-v-dcb6af6f] {
  width: 100%;
  height: auto;
  background-color: #fafafa;
}
.time_view .data_list_view[data-v-dcb6af6f] {
  width: 100%;
}
.time_view .data_list_view .moon_title_view[data-v-dcb6af6f] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1875rem 0;
}
.day_grid_view[data-v-dcb6af6f] {
  margin-left: 1.3125rem;
  margin-right: 1.3125rem;
  width: 20.8125rem;
}
.day_grid_view .grid-item-box[data-v-dcb6af6f] {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day_grid_view .grid-item-box .text_not[data-v-dcb6af6f] {
  margin: 0.625rem;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view .grid-item-box .text_not_selected[data-v-dcb6af6f] {
  margin: 0.625rem;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: 0.09375rem solid #002bff;
}
.day_grid_view .grid-item-box .text_not_today[data-v-dcb6af6f] {
  margin: 0.625rem;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #002bff;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view .grid-item-box .text_not_today_selected[data-v-dcb6af6f] {
  margin: 0.625rem;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #002bff;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: 0.09375rem solid #002bff;
}
.day_grid_view .grid-item-box .text_data[data-v-dcb6af6f] {
  margin: 0.625rem;
  width: 4.0625rem;
  height: 4.0625rem;
  background: #a7c1fa;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #fff;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view .grid-item-box .text_data_selected[data-v-dcb6af6f] {
  margin: 0.625rem;
  width: 4.0625rem;
  height: 4.0625rem;
  background: #a7c1fa;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #fff;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: 0.09375rem solid #002bff;
}
.day_grid_view .grid-item-box .text_data_today[data-v-dcb6af6f] {
  margin: 0.625rem;
  width: 4.0625rem;
  height: 4.0625rem;
  background: #a7c1fa;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #002bff;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view .grid-item-box .text_data_today_selected[data-v-dcb6af6f] {
  margin: 0.625rem;
  width: 4.0625rem;
  height: 4.0625rem;
  background: #a7c1fa;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #002bff;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: 0.09375rem solid #002bff;
}
.test_view[data-v-dcb6af6f] {
  width: 100%;
  height: 1200px;
}
