.theme-font[data-v-8b3f6775],
body[data-v-8b3f6775],
.uni-app[data-v-8b3f6775] {
  font-family: MiSans;
}
@keyframes fadeInDown-8b3f6775 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-8b3f6775 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.uni-grid-wrap[data-v-8b3f6775] {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.uni-grid[data-v-8b3f6775] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.uni-grid--border[data-v-8b3f6775] {
  position: relative;
  z-index: 1;
  border-left: 1px #d2d2d2 solid;
}
.theme-font[data-v-9309e632],
body[data-v-9309e632],
.uni-app[data-v-9309e632] {
  font-family: MiSans;
}
@keyframes fadeInDown-9309e632 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-9309e632 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.uni-grid-item[data-v-9309e632] {
  height: 100%;
  display: flex;
}
.uni-grid-item__box[data-v-9309e632] {
  display: flex;
  width: 100%;
  position: relative;
  flex: 1;
  flex-direction: column;
}
.uni-grid-item--border[data-v-9309e632] {
  position: relative;
  z-index: 0;
  border-bottom: 1px #d2d2d2 solid;
  border-right: 1px #d2d2d2 solid;
}
.uni-grid-item--border-top[data-v-9309e632] {
  position: relative;
  border-top: 1px #d2d2d2 solid;
  z-index: 0;
}
.uni-highlight[data-v-9309e632]:active {
  background-color: #f1f1f1;
}
.theme-font[data-v-29294c95],
body[data-v-29294c95],
.uni-app[data-v-29294c95] {
  font-family: MiSans;
}
@keyframes fadeInDown-29294c95 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-29294c95 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-29294c95] {
  width: 100%;
  height: auto;
}
.sleep_context_view[data-v-29294c95] {
  width: 100%;
  height: 3rem;
  position: relative;
}
.sleep_context_view .time_show_view[data-v-29294c95] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.625rem;
  z-index: 1;
}
.sleep_context_view .time_show_view uni-text[data-v-29294c95] {
  margin-left: 0.3125rem;
  margin-right: 1.15625rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.28125rem;
  color: #1d2129;
  line-height: 0.3125rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.sleep_context_view .sleep_title_view[data-v-29294c95] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.28125rem;
  z-index: 1;
  margin-left: 0.625rem;
}
.sleep_context_view .sleep_title_view .title_view[data-v-29294c95] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.34375rem;
  color: #1d2129;
  line-height: 0.59375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_context_view .sleep_title_view .sleep_tip_view[data-v-29294c95] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sleep_context_view .sleep_title_view .sleep_tip_view .n3_view[data-v-29294c95] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5625rem;
}
.sleep_context_view .sleep_title_view .sleep_tip_view .n3_view uni-view[data-v-29294c95] {
  width: 0.15625rem;
  height: 0.15625rem;
  background: #0038ba;
  border-radius: 50%;
  margin-right: 0.0625rem;
}
.sleep_context_view .sleep_title_view .sleep_tip_view .n3_view uni-text[data-v-29294c95] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #1d2129;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_context_view .sleep_title_view .sleep_tip_view .n3_view .comment_long_view[data-v-29294c95] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #3b76f2;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
}
.sleep_context_view .sleep_title_view .sleep_tip_view .n3_view .time_view[data-v-29294c95] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #4e5969;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
}
.sleep_context_view .sleep_view[data-v-29294c95] {
  width: 20.71875rem;
  height: 3rem;
}
.theme-font[data-v-a577e9b3],
body[data-v-a577e9b3],
.uni-app[data-v-a577e9b3] {
  font-family: MiSans;
}
@keyframes fadeInDown-a577e9b3 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-a577e9b3 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-a577e9b3] {
  width: 100%;
  height: auto;
}
.sleep_context_view[data-v-a577e9b3] {
  width: 100%;
  height: 1.25rem;
}
.sleep_view[data-v-a577e9b3] {
  width: 20.71875rem;
  height: 1.25rem;
}
.sleep_title_view[data-v-a577e9b3] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.0625rem;
  z-index: 1;
  margin-left: 0.625rem;
}
.sleep_title_view .flip_over_view[data-v-a577e9b3] {
  margin-left: 0.625rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.34375rem;
  line-height: 0.375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  color: #2c53f1;
}
.sleep_title_view .title_view[data-v-a577e9b3] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.34375rem;
  color: #1d2129;
  line-height: 0.59375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_title_view .sleep_tip_view[data-v-a577e9b3] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3125rem;
}
.sleep_title_view .sleep_tip_view .n3_view[data-v-a577e9b3] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.78125rem;
}
.sleep_title_view .sleep_tip_view .n3_view uni-view[data-v-a577e9b3] {
  width: 0.15625rem;
  height: 0.15625rem;
  background: #0038ba;
  border-radius: 50%;
  margin-right: 0.0625rem;
}
.sleep_title_view .sleep_tip_view .n3_view uni-text[data-v-a577e9b3] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #1d2129;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.sleep_title_view .sleep_tip_view .n3_view .comment_long_view[data-v-a577e9b3] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #3b76f2;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
}
.sleep_title_view .sleep_tip_view .n3_view .time_view[data-v-a577e9b3] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.21875rem;
  color: #4e5969;
  line-height: 0.25rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
}
.theme-font[data-v-9d99bd87],
body[data-v-9d99bd87],
.uni-app[data-v-9d99bd87] {
  font-family: MiSans;
}
@keyframes fadeInDown-9d99bd87 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-9d99bd87 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-9d99bd87] {
  width: 100%;
  height: auto;
}
.eeg_content_view[data-v-9d99bd87] {
  width: 100%;
  height: 2.46875rem;
}
.title_view[data-v-9d99bd87] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.0625rem;
  z-index: 1;
  margin-left: 0.625rem;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.34375rem;
  color: #1d2129;
  line-height: 0.59375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-71e8bb68],
body[data-v-71e8bb68],
.uni-app[data-v-71e8bb68] {
  font-family: MiSans;
}
@keyframes fadeInDown-71e8bb68 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-71e8bb68 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-71e8bb68] {
  width: 100%;
  height: auto;
}
.snore_content_view[data-v-71e8bb68] {
  width: 100%;
  height: 1.5rem;
}
.title_view[data-v-71e8bb68] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.0625rem;
  z-index: 1;
  margin-left: 0.625rem;
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.34375rem;
  color: #1d2129;
  line-height: 0.59375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-c402a7ae],
body[data-v-c402a7ae],
.uni-app[data-v-c402a7ae] {
  font-family: MiSans;
}
@keyframes fadeInDown-c402a7ae {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-c402a7ae {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-c402a7ae] {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.control_area_view[data-v-c402a7ae] {
  width: 21.71875rem;
  position: absolute;
  top: 0.8125rem;
  z-index: 1;
}
.chart_area_view[data-v-c402a7ae] {
  width: 20.71875rem;
  height: 8.28125rem;
  border-radius: 0;
  border: 0.03125rem solid #c9cdd4;
  position: absolute;
  top: 0.65625rem;
  z-index: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.chart_area_view .chart_top_view[data-v-c402a7ae] {
  width: 100%;
  height: 4.25rem;
  background: linear-gradient(to right, #fff 50%, #f6f6f6 0);
  background-size: 4.65625rem 100%;
  position: relative;
}
.chart_area_view .chart_top_view .long_time_view[data-v-c402a7ae] {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
}
.chart_area_view .chart_top_view .long_time_view uni-text[data-v-c402a7ae] {
  margin-top: 0.3125rem;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.28125rem;
  color: #4e5969;
  line-height: 0.3125rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.chart_area_view .chart_top_view .inst_chart_view[data-v-c402a7ae] {
  width: 100%;
  height: 3rem;
}
.chart_area_view .chart_top_view .divider_view[data-v-c402a7ae] {
  width: 100%;
  height: 0.03125rem;
  background-color: #c9cdd4;
}
.chart_area_view .chart_top_view .body_chart_view[data-v-c402a7ae] {
  width: 100%;
  height: 1.25rem;
}
.chart_area_view .divider_view[data-v-c402a7ae] {
  width: 100%;
  height: 0.03125rem;
  background-color: #c9cdd4;
}
.chart_area_view .chart_bottom_view[data-v-c402a7ae] {
  width: 100%;
  height: 4rem;
  background: linear-gradient(to right, #fff 99%, #dce7ff 0);
  background-size: 1.25rem 100%;
}
.chart_area_view .chart_bottom_view .eeg_view[data-v-c402a7ae] {
  width: 100%;
  height: 2.46875rem;
}
.chart_area_view .chart_bottom_view .divider_view[data-v-c402a7ae] {
  width: 100%;
  height: 0.03125rem;
}
.chart_area_view .chart_bottom_view .snore_view[data-v-c402a7ae] {
  width: 100%;
  height: 1.5rem;
}
.movaBox[data-v-c402a7ae] {
  width: 21.21875rem;
  height: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  position: absolute;
  top: 0.375rem;
  z-index: 2;
}
.movaBox .movaDot[data-v-c402a7ae] {
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
  box-shadow: 0 0 0.65625rem rgba(177, 177, 177, 0.18);
  border: 0.03125rem solid #a7c1fa;
  border-radius: 50%;
}
.position-indicator[data-v-c402a7ae] {
  width: 0.0625rem;
  height: 4.25rem;
  background-color: #e11f14;
  position: absolute;
  top: 0.5625rem;
  z-index: 1;
}
.current_time_view[data-v-c402a7ae] {
  position: absolute;
  top: 0;
  z-index: 2;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.28125rem;
  color: #3b76f2;
  line-height: 0.3125rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.current_sleep .num_view[data-v-c402a7ae] {
  font-family: MiSans, MiSans;
  font-weight: 600;
  font-size: 0.5625rem;
  color: #1d2129;
  line-height: 0.65625rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 0.0625rem;
  margin-right: 0.0625rem;
}
.current_sleep uni-text[data-v-c402a7ae] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.34375rem;
  color: #1d2129;
  line-height: 0.375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.time_stamp_view[data-v-c402a7ae] {
  width: 5.28125rem;
  height: 0.59375rem;
  position: absolute;
  top: 0.125rem;
  z-index: 2;
  margin-left: 8.75rem;
}
.time_stamp_view .swiper_view[data-v-c402a7ae] {
  height: 0.59375rem;
}
.time_stamp_view .swiper_item_view[data-v-c402a7ae] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.time_stamp_view .swiper_item_view uni-text[data-v-c402a7ae] {
  padding: 0.0625rem 0.15625rem;
  margin: 0.03125rem 0.125rem;
  border-radius: 0.125rem;
  border: 0.03125rem solid #c9cdd4;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.34375rem;
  color: #4e5969;
  line-height: 0.375rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.time_stamp_view .swiper_item_view .sleep_text_view[data-v-c402a7ae] {
  border-radius: 0.125rem;
  border: 0.03125rem solid #6597ec;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.34375rem;
  color: #3b76f2;
  line-height: 0.375rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.theme-font[data-v-43e6b4ee],
body[data-v-43e6b4ee],
.uni-app[data-v-43e6b4ee] {
  font-family: MiSans;
}
@keyframes fadeInDown-43e6b4ee {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-43e6b4ee {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content_view[data-v-43e6b4ee] {
  width: 100%;
  height: auto;
}
.top_view[data-v-43e6b4ee] {
  width: 100%;
  height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_view uni-image[data-v-43e6b4ee] {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  width: 0.15625rem;
  height: 0.28125rem;
}
.top_view uni-text[data-v-43e6b4ee] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: 0.375rem;
  color: #4e5969;
  line-height: 0.375rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.top_view .select_date_view[data-v-43e6b4ee] {
  width: 0.3125rem;
  height: 0.15625rem;
  margin-left: 0.21875rem;
}
.top_view .date_text_view[data-v-43e6b4ee] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.78125rem;
  margin-right: 1.78125rem;
}
.time_view[data-v-43e6b4ee] {
  width: 100 vmin;
  position: fixed;
  z-index: 100;
  background: #f3f3f3;
  border-radius: 7.6 vmin 7.6 vmin 0 0;
}
.time_view .top_tiem_icon[data-v-43e6b4ee] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.time_view .top_tiem_icon uni-image[data-v-43e6b4ee] {
  width: calc(6107 / 750) vmin;
  height: calc(1336 / 750) vmin;
  margin-top: calc(2300 / 750) vmin;
}
.time_view .title_time_view[data-v-43e6b4ee] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(3100 / 750) vmin;
}
.time_view .title_time_view uni-text[data-v-43e6b4ee] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(3800 / 750) vmin;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.time_view .title_time_view uni-image[data-v-43e6b4ee] {
  width: calc(4008 / 750) vmin;
  height: calc(4008 / 750) vmin;
  margin-left: 58 vmin;
}
.time_view .week_day_view[data-v-43e6b4ee] {
  margin-top: 4 vmin;
  margin-bottom: calc(2300 / 750) vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time_view .week_day_view uni-text[data-v-43e6b4ee] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #4e5969;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin: 0 calc(3800 / 750) vmin;
}
.time_view .time_context_view[data-v-43e6b4ee] {
  width: 100%;
  height: auto;
  background-color: #fafafa;
}
.time_view .data_list_view[data-v-43e6b4ee] {
  width: 100%;
}
.time_view .data_list_view .moon_title_view[data-v-43e6b4ee] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(3800 / 750) vmin 0;
}
.time_view .data_list_view .moon_title_view uni-text[data-v-43e6b4ee] {
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(3100 / 750) vmin;
  color: #4e5969;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view[data-v-43e6b4ee] {
  margin-left: 5.6 vmin;
  margin-right: 5.6 vmin;
  width: 88.8 vmin;
}
.day_grid_view .grid-item-box[data-v-43e6b4ee] {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day_grid_view .grid-item-box .uni_grid_item_view[data-v-43e6b4ee] {
  width: calc(9500 / 750) vmin;
}
.day_grid_view .grid-item-box .text_not[data-v-43e6b4ee] {
  width: calc(6100 / 750) vmin;
  height: calc(6100 / 750) vmin;
  border-radius: calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750)
    vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view .grid-item-box .text_not_selected[data-v-43e6b4ee] {
  width: calc(6100 / 750) vmin;
  height: calc(6100 / 750) vmin;
  border-radius: calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750)
    vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #1d2129;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: calc(300 / 750) vmin solid #002bff;
}
.day_grid_view .grid-item-box .text_not_today[data-v-43e6b4ee] {
  width: calc(6100 / 750) vmin;
  height: calc(6100 / 750) vmin;
  border-radius: calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750)
    vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #002bff;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view .grid-item-box .text_not_today_selected[data-v-43e6b4ee] {
  width: calc(6100 / 750) vmin;
  height: calc(6100 / 750) vmin;
  border-radius: calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750)
    vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #002bff;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: calc(300 / 750) vmin solid #002bff;
}
.day_grid_view .grid-item-box .text_data[data-v-43e6b4ee] {
  width: calc(6100 / 750) vmin;
  height: calc(6100 / 750) vmin;
  background: #a7c1fa;
  border-radius: calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750)
    vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #fff;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view .grid-item-box .text_data_selected[data-v-43e6b4ee] {
  width: calc(6100 / 750) vmin;
  height: calc(6100 / 750) vmin;
  background: #a7c1fa;
  border-radius: calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750)
    vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #fff;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: calc(300 / 750) vmin solid #002bff;
}
.day_grid_view .grid-item-box .text_data_today[data-v-43e6b4ee] {
  width: calc(6100 / 750) vmin;
  height: calc(6100 / 750) vmin;
  background: #a7c1fa;
  border-radius: calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750)
    vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #002bff;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.day_grid_view .grid-item-box .text_data_today_selected[data-v-43e6b4ee] {
  width: calc(6100 / 750) vmin;
  height: calc(6100 / 750) vmin;
  background: #a7c1fa;
  border-radius: calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750) vmin calc(3100 / 750)
    vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MiSans, MiSans;
  font-weight: 500;
  font-size: calc(2300 / 750) vmin;
  color: #002bff;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: calc(300 / 750) vmin solid #002bff;
}
