.theme-font[data-v-2d9eb517],
body[data-v-2d9eb517],
.uni-app[data-v-2d9eb517] {
  font-family: MiSans;
}
@keyframes fadeInDown-2d9eb517 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-2d9eb517 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
